Flask
flask-cors
opencv-python
numpy
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
gspread
oauth2client
opencv-python
numpy
scikit-learn
matplotlib
scipy
gunicorn
google-generativeai 
pillow 
python-dotenv 